@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

.firstPageContent {
  background-image: url("../images/img1.png");
}

.firstPageContent,
.topSubject,
.contentSubject,
.contentFeaturedSection,
.propCards,
.onlineOffline,
.materialBanner,
.testimonialsContainer,
.footerContainer {
  padding: 1rem 10rem;
}

.header {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
}

.header ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header ul li {
  list-style-type: none;
}

.header ul li a {
  text-decoration: none;
  transition: all 0.1s;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  font-size: 30px;
}

.subCard {
  box-shadow: 0 0 10px #00000061;
}

.propCards .card {
  background: linear-gradient(0deg, rgb(183, 183, 255), #f4f4f4);
}

.materialBannerContent {
  width: 100%;
  height: 28vh;
  background-image: url("../images/img9.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 2rem 0;
}

.testimonials {
  padding: 5rem 0;
  color: #434343;
  text-align: center;
}
.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  /* padding: 0 20px; */
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.col {
  flex: 33.33%;
  max-width: 25.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial {
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
}
.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars {
  color: #fc7d2d;
  margin-bottom: 20px;
}

.excelBannerinner {
  width: 100%;
  height: 24vh;
  background-image: url("../images/img10.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.featCards {
  box-shadow: 0 0 20px #00000079;
  margin: 1rem;
  border-radius: 1rem;
  max-width: 320px;
}

/* testimonial section */
.containerTest {
  position: relative;
  width: 100%;
  min-height: 450px;
  background-color: #fff;
}
.containerTest .contents-wraper {
  width: 70%;
  min-height: inherit;
  margin: 30px auto;
  text-align: center;
}
.contents-wraper .testRow {
  width: 100%;
  min-height: inherit;
  position: relative;
  overflow: hidden;
}
.testRow .testItem {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testRow .testItem:not(.active) {
  top: 0;
  left: -100%;
}
.testRow .testItem h3 {
  font-size: 30px;
  font-style: italic;
  padding: 7px;
}
.testRow .testItem h4 {
  font-style: italic;
}
.testRow .testItem p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.2;
  padding: 10px;
}
.contents-wraper .indicators {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  cursor: pointer;
}
.contents-wraper .indicators .dot {
  width: 15px;
  height: 15px;
  margin: 0px 3px;
  border: 3px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}
.contents-wraper .indicators .active {
  background-color: #006994;
}
@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@media (max-width: 1380px) {
  .containerTest {
    min-height: 600px;
  }
}
@media (max-width: 870px) {
  .containerTest {
    min-height: 700px;
  }
}
@media (max-width: 740px) {
  .containerTest {
    min-height: 830px;
  }
}
@media (max-width: 550px) {
  .container .contents-wraper {
    width: 90%;
  }
  .contents-wraper .header h1 {
    font-size: 32px;
  }
  .testRow .testItem h3 {
    font-size: 26px;
  }
  .testRow .testItem p {
    font-size: 16px;
    letter-spacing: initial;
    line-height: initial;
  }
}
/* testimonial section */

@media screen and (max-width: 1400px) {
  .firstPageContent {
    background-image: url("../images/img13.png");
  }
}

@media screen and (max-width: 1150px) {
  .firstPageContent,
  .topSubject,
  .contentSubject,
  .contentFeaturedSection,
  .propCards,
  .onlineOffline,
  .materialBanner,
  .testimonialsContainer,
  .excelBanner,
  .footerContainer {
    padding: 1rem 4rem;
  }

  .col {
    max-width: 33.33%;
  }
}

@media screen and (max-width: 1024px) {
  .firstPageContent {
    background-image: url("../images/img12.png");
  }
  .excelBannerinner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 30vh;
  }
}

@media (max-width: 950px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
  .header ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: #fff;
    gap: 30px;
    overflow: hidden;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    transition: all 0.5s;
  }
}

@media (max-width: 640px) {
  .firstPageContent {
    background-image: url("../images/img14.png");
  }
  .firstPageContent,
  .topSubject,
  .contentSubject,
  .contentFeaturedSection,
  .propCards,
  .onlineOffline,
  .materialBanner,
  .testimonialsContainer,
  .excelBanner,
  .footerContainer {
    padding: 1rem 1rem;
  }
}
