@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

.firstPageContent {
  background-image: url("../images/img1.png");
}

.firstPageContent,
.topSubject,
.contentSubject,
.contentFeaturedSection,
.propCards,
.onlineOffline,
.materialBanner,
.testimonialsContainer,
.excelBanner,
.footerContainer {
  padding: 1rem 10rem;
}

.header {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
}

.header ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header ul li {
  list-style-type: none;
}

.header ul li a {
  text-decoration: none;
}

.menu-icon {
  display: none;
}

.menu-icon i {
  font-size: 30px;
}

.subCard {
  box-shadow: 0 0 10px #00000061;
}

.propCards .card {
  background: linear-gradient(0deg, rgb(183, 183, 255), #f4f4f4);
}

.materialBannerContent {
  width: 100%;
  height: 28vh;
  background-image: url("../images/img9.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 2rem 0;
}

.testimonials {
  padding: 5rem 0;
  color: #434343;
  text-align: center;
}
.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  /* padding: 0 20px; */
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.col {
  flex: 33.33%;
  max-width: 25.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial {
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
}
.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars {
  color: #fc7d2d;
  margin-bottom: 20px;
}

.excelBannerinner {
  width: 100%;
  height: 24vh;
  background-image: url("../images/img10.png");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

@media screen and (max-width: 1400px) {
  .firstPageContent {
    background-image: url("../images/img13.png");
  }
}

@media screen and (max-width: 1150px) {
  .firstPageContent,
  .topSubject,
  .contentSubject,
  .contentFeaturedSection,
  .propCards,
  .onlineOffline,
  .materialBanner,
  .testimonialsContainer,
  .excelBanner,
  .footerContainer {
    padding: 1rem 4rem;
  }

  .col {
    max-width: 33.33%;
  }
}

@media screen and (max-width: 1024px) {
  .firstPageContent {
    background-image: url("../images/img12.png");
  }
}

@media (max-width: 950px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
  .header ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    padding-bottom: 1rem;
    flex-direction: column;
    text-align: center;
    background: #004274;
    gap: 0;
    overflow: hidden;
  }
  .header ul li {
    padding: 20px 0;
  }
  .menu-icon {
    display: block;
  }
  #menuList {
    transition: all 0.5s;
  }
}

@media (max-width: 640px) {
  .firstPageContent {
    background-image: url("../images/img14.png");
  }
  .firstPageContent,
  .topSubject,
  .contentSubject,
  .contentFeaturedSection,
  .propCards,
  .onlineOffline,
  .materialBanner,
  .testimonialsContainer,
  .excelBanner,
  .footerContainer {
    padding: 1rem 1rem;
  }
}
